<section id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ base_path ~ directory }}/img/portfolio/fullsize/pic-01.jpg"
                    ><img class="img-fluid" src="{{ base_path ~ directory }}/img/portfolio/thumbnails/pic-01.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name"></div>
                    </div></a
                >
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ base_path ~ directory }}/img/portfolio/fullsize/pic-02.jpg"
                    ><img class="img-fluid" src="{{ base_path ~ directory }}/img/portfolio/thumbnails/pic-02.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name"></div>
                    </div></a
                >
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ base_path ~ directory }}/img/portfolio/fullsize/pic-03.jpg"
                    ><img class="img-fluid" src="{{ base_path ~ directory }}/img/portfolio/thumbnails/pic-03.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name"></div>
                    </div></a
                >
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ base_path ~ directory }}/img/portfolio/fullsize/pic-04.jpg"
                    ><img class="img-fluid" src="{{ base_path ~ directory }}/img/portfolio/thumbnails/pic-04.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name"></div>
                    </div></a
                >
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ base_path ~ directory }}/img/portfolio/fullsize/pic-05.jpg"
                    ><img class="img-fluid" src="{{ base_path ~ directory }}/img/portfolio/thumbnails/pic-05.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name"></div>
                    </div></a
                >
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ base_path ~ directory }}/img/portfolio/fullsize/pic-06.jpg"
                    ><img class="img-fluid" src="{{ base_path ~ directory }}/img/portfolio/thumbnails/pic-06.jpg" alt="" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name"></div>
                    </div></a
                >
            </div>
        </div>
    </div>
</section>